<div class="sidebar__loading">
  <div class="sidebar__loading-directs">
    <% 5.times do %>
      <div class="sidebar__loading-avatar"></div>
    <% end %>
  </div>

  <div class="sidebar__loading-rooms">
    <div class="sidebar__loading-search"></div>

    <div class="sidebar__loading-section">
      <div class="sidebar__loading-heading"></div>
      <% 4.times do %>
        <div class="sidebar__loading-room"></div>
      <% end %>
    </div>

    <div class="sidebar__loading-section">
      <div class="sidebar__loading-heading"></div>
      <% 6.times do %>
        <div class="sidebar__loading-room"></div>
      <% end %>
    </div>
  </div>
</div>
