<% room = local_assigns[:room] || local_assigns[:membership].room %>
<% involvement = local_assigns[:membership]&.involvement || "mentions" %>
<% unread = local_assigns[:membership]&.unread? %>
<% has_notifications = local_assigns[:membership]&.has_unread_notifications? %>

<%= link_to_room room,
                 id: dom_id(room, dom_prefix(list_name, :list_node)),
                 class: [ "sidebar__room-item", "unread": unread, "badge": has_notifications ],
                 data: {
                   sorted_list_target: "item",
                   name: room.sortable_name,
                   search_text: room.sortable_name,
                   size: room.messages_count,
                   updated_at: room.last_active_at.iso8601,
                   sidebar_starred_rooms_target: "room",
                   involvement: involvement,
                   type: "list_node"
                 } do %>
  <span class="sidebar__room-name"><%= room_display_name(room) %></span>
  <span class="sidebar__room-time"><%= local_datetime_tag room.last_active_at, style: :relative, class: "txt-x-small txt-primary" %></span>
  
  <div class="sidebar__room-actions">
    <%= turbo_frame_tag dom_id(room, dom_prefix(:sidebar, :involvement)),
                        data: { controller: "turbo-frame", action: "click->turbo-frame#load", turbo_frame_url_param: room_involvement_path(room, from_sidebar: true) },
                        loading: :lazy do %>
      <span class="sidebar__room-action-dot"></span>
    <% end %>
  </div>
<% end %>